html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 150px;
  height: 150px;
  animation: rotate 1.5s ease-in-out infinite alternate;
}

@keyframes rotate {
  from {
    transform: rotate(-10deg);
  }

  to {
    transform: rotate(10deg);
  }
}
